@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06090a;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
}

.container .card{
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    background: #ebf5fc;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
                6px 6px 20px rgba(0, 0, 0, 0.1);
}

.container .card:hover{
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.5),
                6px 6px 20px rgba(0, 0, 0, 0.5);
}

.container .card .imgBx{
    position: relative;
    text-align: center;
}

.container .card .imgBx img{
    min-width: 120px;
}

.container .card .contentBx{
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.container .card .contentBx h2{
    color: #32a3b1;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2Px;
}

.container .card .contentBx p{
    color: #32a3b1;
}

.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #32a3b1;
    font-size: 16px;
    text-decoration: none;

    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
                4px 4px 15px rgba(0, 0, 0, 0.1);
}

.container .card .contentBx a:hover{
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.5),
                4px 4px 15px rgba(0, 0, 0, 0.1);
}

.container .card a:hover span{
    display: block;
    transform: scale(0.98);
}

.container .card:hover .imgBx,
.container .card:hover .contentBx{
    transform: scale(0.98);
}